# Aptabase App Key (required for analytics)
VITE_APTABASE_APP_KEY=your_aptabase_app_key_here

# Crash Reporting Configuration
# Frontend sentry dns
VITE_SENTRY_DSN=your_sentry_dsn_here

# For Rust backend we have separate project
SENTRY_DSN=your_sentry_dsn_here
